doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title OpenAPI Candy

    link(rel="stylesheet" href=assets.bootstrap('css/bootstrap.min.css'))
    //- link(rel="stylesheet" href=assets.newAgeTheme('vendor/fontawesome-free/css/all.min.css'))
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet")
    //- link(rel="stylesheet" href=assets.vendor('argon/css/argon-dashboard.min.css'))
    link(rel="stylesheet" href=assets.client('css/adjustments.css'))

    script(src=assets.vendor('slug/slug.js'))
    script(type="module" src=assets.client('js/oc-spec.mjs'))
  body
    .container-fluid
      block content
