doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title OpenAPI Candy

    link(rel="stylesheet" href=assets.bootstrap('css/bootstrap.min.css'))
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet")
    link(rel="stylesheet" href=assets.vendor('argon/css/argon-dashboard.min.css'))
    link(rel="stylesheet" href=assets.client('css/adjustments.css'))

    script(src=assets.vendor('slug/slug.js'))
    script(src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js")
    script.
      new SmoothScroll('a[href*="#"].main-nav-link', { offset: 50 });
      new SmoothScroll('a[href*="#"].oc-anchor-copy-help', { offset: 50 });
      new SmoothScroll('a[href*="#"].nav-link', { offset: 150 });
    script(type="module" src=assets.client('js/oc-spec.mjs'))
  body
    .container-fluid
      block content
